.containercar {
    background: white;
    max-width: device-width;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   }

.containercarlist {
    background: white;
    max-width: device-width;
    max-height: 1000px;
    margin: 0 auto;
    padding: 5px;
    display: flex;
    justify-content:space-around;
    align-items: center;
   }