* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
}

.content-width {
  max-width: 1120px;
  margin: 0 auto;
}
.item{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}
/* header */
.header {
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: black;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.08), 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    z-index: 2;
  }
.header .content-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.header .bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  z-index: 1;
  width: 100%;
}
.header__logo img {
  height: 80px;
  width: auto;
}
.header__nav{
  display: flex;
  height: 100%;
  width: 50%;
}
.header__nav .item{
  height: 100%;
  padding: 0 8px;
  margin: 10 8px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-around ;
  width: 100%;

}
a.linkitem:link, a.linkitem:visited
{
color:white;
text-decoration:none;
}
 
a.linkitem:hover
{
color: red;
font-weight:bold;
}